@{
    ViewData["Title"] = "Logging Info";
    var data = ViewBag.Data;
}

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Details
            </th>
            <th>
                Location
            </th>
            <th>
                Access count
            </th>
            <th>
                Access Datetime
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in data)
        {
            <tr>
                <td>
                    @item.iD
                </td>
                <td>
                    @item.name              
                </td>
                <td>
                    @item.details
                </td>
                <td>
                    @item.location
                </td>
                <td>
                    @item.accessCount
                </td>
                <td>
                    @item.accessDateTime
                </td>

            </tr>
        }
    </tbody>
</table>